<script type="text/html" id="addRoomDlg">
    <div class="modal-body">
        <div class="form-group">
            <label for="room-name-input">Room name</label>
            <input type="text" class="form-control" id="room-name-input" placeholder="Room name" data-bind="value: Room">
        </div>
        <div class="form-group">
            <label for="room-creation-date">Creation date</label>
            <!-- ko template: { name: 'inputDateControl', data: $root.GetInputDateControl(CreationDate) } -->
            <!-- /ko -->          
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bind="click: SaveAction">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</script>

<script type="text/html" id="addFurnitureToRoomDlg">
    <div class="modal-body">
        <div class="form-group">
            <label for="room-name-input">Furniture type</label>
            <input type="text" class="form-control" id="room-name-input" placeholder="Furniture type" data-bind="value: Furniture">
        </div>
        <div class="form-group">
            <label for="furniture-creation-date">Creation date</label>
            <!-- ko template: { name: 'inputDateControl', data: $root.GetInputDateControl(CreationDate) } -->
            <!-- /ko -->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bind="click: SaveAction">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</script>

<script type="text/html" id="moveToRoomDlg">
    <div class="modal-body">
        <div class="form-group">
            <label for="room-name-input">Room name</label>
            <select class="form-control" data-bind="options: Rooms, optionsText: 'Name', value: RoomTo, optionsCaption: 'Choose...'"></select>
        </div>
        <div class="form-group">
            <label for="room-name-input">Furniture type</label>            
            <select class="form-control" data-bind="options: Room.Furnitures, optionsText: 'Type', value: Furniture, optionsCaption: 'Choose...'"></select>            
        </div>
        <div class="form-group">
            <label for="room-move-date">Move date</label>
            <!-- ko template: { name: 'inputDateControl', data: $root.GetInputDateControl(MoveDate) } -->
            <!-- /ko -->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bind="click: SaveAction">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</script>

<script type="text/html" id="removeRoomDlg">
    <div class="modal-body">
        <div class="form-group">
            <label for="room-name-input">Room name to transfer</label>
            <select class="form-control" data-bind="options: Rooms, optionsText: 'Name', value: RoomTo, optionsCaption: 'Choose...'"></select>
        </div>
        <div class="form-group">
            <label for="room-move-date">Remove date</label>
            <!-- ko template: { name: 'inputDateControl', data: $root.GetInputDateControl(RemoveDate) } -->
            <!-- /ko -->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bind="click: SaveAction">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</script>
