@section scripts {
    @Scripts.Render("~/bundles/room")
}

@{
    Html.RenderPartial("_Dialogs");
}

<div id="room-bindable-block">
    <div class="modal">
        <div class="modal-dialog" data-bind="if: DialogName()">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title" data-bind="text: DialogTitle"></h4>
                </div>
                <!-- ko template: { name: DialogName, data: DialogData, afterRender: DialogRendered } -->
                <!-- /ko -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="display: none" data-bind="visible: Rooms().length > 0">
            <table class="table table-condensed table-striped table-hover">
                <thead>
                    <tr>
                        <th>Room name</th>
                        <th>Furniture</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Rooms">
                    @*<tr data-bind="css: {'success': $index() % 2 === 0}">*@
                    <tr>
                        <td data-bind="text: Name"></td>
                        <td>
                            <!-- ko: if Furniture().length() > 0 -->
                            <ul style="list-style-type: none" data-bind="foreach: Furniture">
                                <li>
                                    <span data-bind="text: Type"></span> -
                                    <span data-bind="text: Count"></span>
                                </li>
                            </ul>
                            <!-- /ko -->
                        </td>
                        <td>
                            <a class="btn btn-primary" href="javascrip:void(0);" data-bind="click: AddFurniture">Add furniture</a>
                            <a class="btn btn-default" href="javascrip:void(0);" data-bind="click: MoveFurniture">Move furniture</a>
                            <a class="btn btn-danger" href="javascrip:void(0);" data-bind="click: RemoveRoom">Remove room</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary" href="javascript:void(0);" data-bind="click: AddRoom">Add room</a>
        </div>
    </div>
</div>
