@section scripts {
    @Scripts.Render("~/bundles/room")
}

@{
    Html.RenderPartial("_Dialogs");
}

@{
    Html.RenderPartial("_Controls");
}

<div id="room-bindable-block">
    <div class="modal">
        <div class="modal-dialog">
            <!-- ko if: DialogName() -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title" data-bind="text: DialogTitle"></h4>
                    <span class="label label-danger" data-bind="text: DialogErrorText"></span>
                </div>
                <!-- ko template: { name: DialogName, data: DialogData, afterRender: DialogShow } -->
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
    </div>

    <div class="row">
        <h1>Rooms and Furnitures</h1>
    </div>
    <div class="row">
        <div class="col-md-offset-2"></div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="room-creation-date">Query date</label>
                <!-- ko template: { name: 'inputDateControl', data: $root.GetInputDateControl(QueryDate) } -->
                <!-- /ko -->
                <a class="btn btn-primary" href="javascript:void(0);" data-bind="click: UpdateRoomList">Get on date</a>
            </div>        
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div style="display: none" data-bind="visible: Rooms().length > 0">
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Room name</th>
                            <th>Furniture</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Rooms">
                        <tr>
                            <td data-bind="text: Name"></td>
                            <td>
                                <!-- ko: if Furniture().length() > 0 -->
                                <ul style="list-style-type: none" data-bind="foreach: Furnitures">
                                    <li>
                                        <span data-bind="text: Type"></span> -
                                        <span data-bind="text: Count"></span>
                                    </li>
                                </ul>
                                <!-- /ko -->
                            </td>
                            <td>
                                <a class="btn btn-primary" href="javascrip:void(0);" data-bind="click: AddFurniture">Add furniture</a>
                                <a class="btn btn-default" href="javascrip:void(0);" data-bind="click: MoveFurniture, visible: $root.Rooms().length > 1">Move furniture</a>
                                <a class="btn btn-danger" href="javascrip:void(0);" data-bind="click: RemoveRoom">Remove room</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a class="btn btn-primary" href="javascript:void(0);" data-bind="click: AddRoom">Add room</a>
        </div>
        <div class="col-md-3">
            <div style="display: none" data-bind="visible: RoomHistoryItems().length > 0">
                <h4>History</h4>
                <label>
                    <input type="checkbox" id="short-history-check" data-bind="checked: ShowShortHistory "/>
                    <span>short</span>
                </label>

                <table class="table table-condensed table-striped">
                    <tbody data-bind="foreach: RoomHistoryItems">
                    <tr>
                        <td data-bind="text: $data"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
